{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, my name is Thomas. I became interested in programming and web development about a year ago and have been honing my skills ever since. 
        While I'm not entirely self-taught, I've learned a lot through online resources and practice. 
        I hope to continue learning and developing my skills so that I can build websites that are, aesthetically pleasing, 
        functional, and user-friendly. 
    </p>
    <p>
        I'm also interested in audio engineering, music production, and music in general. 
        I hope to learn more about these topics and eventually incorporate them into my career somehow. 
    </p>
    <p>
        As a developer, I use different programming languages and tools. I've found that what matters 
        is understanding the concepts and logic that led said tools to be the way they are. 
        I'm currently learning Java, Python, PHP, and web technologies related to them. 
        I also have a good understanding of relational databases.
    </p>
</main>
{% endblock %}