{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, my name is Thomas. I became interested in programming and software development 
        back in 2021, and have been honing my skills ever since. I am currently finishing my first 
        year of a Higher Vocational Training program in this field (FPGS de Desarrollo de 
        Aplicaciones Multiplataforma in Spain), where I am gaining the advanced skills and 
        knowledge necessary to create high-quality and user-friendly websites and applications.
    </p>
    <p>
        Alongside my formal studies, I am actively learning Java, Python, PHP, web technologies, 
        among other technologies through online resources, such as Udemy, or the API of the 
        services of my interest. Additionally, I have a good understanding of relational databases, 
        which I incorporate into my development process to create efficient and 
        scalable applications.
    </p>
    <p>
        In my spare time, I enjoy exploring my interests in music, music production, and audio engineering. 
        I am always looking for ways to incorporate these interests into my career as a developer. 
        In the future, I hope to work for a company that shares my passion for creativity and innovation 
        and allows me to continue building functional, user-friendly and aesthetically pleasing, 
        websites and applications that help people improve their workflow and express themselves creatively.
    </p>
</main>
{% endblock %}