{% extends "base.html" %}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email: </dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:thomassilva90@gmail.com">
                    thomassilva90 [at] gmail.com
                </a>
            </dd>
        </div>
    </dl>
        <dl>
        <div class="contact">
            <dt>GitGub: </dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/VintageStep/">
                    @VintageStep
                </a>
            </dd>
        </div>
    </dl>
        <dl>
        <div class="contact">
            <dt>LinkdIn: </dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/thomas-ortega-silva-a4b92a5b/" >
                    Thomas Ortega
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}